[user]
	name = Marcus Bergo\n
	email = marcusbergo@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        ll   = log --pretty=oneline --decorate --abbrev-commit --max-count=80
        lll  = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[merge]
	tool = vimdiff 
[push]
	default = tracking
[log]
	date = relative
[format]
	pretty = format:%h %Cblue%ad%Creset %ae %Cgreen%s%Creset


[core]
	excludesfile = /Users/mbergo/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[branch]
	autosetupmerge = true
